@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body, [class*="css"] {
    font-family: 'Poppins', sans-serif;
}

.stApp {
    background-color: #DCE8F5;
}

[data-testid="stMetric"] {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
    border-left: 5px solid #2E73B8;
}

h1 {
    color: #1E2A4A !important;
    font-weight: 700;
}

h2, h3 {
    color: #1E2A4A !important;
}


html, body, p, span, div, label {
    color: black !important;
}

h1, h2, h3, h4, h5, h6 {
    color: black !important;
}

[data-testid="stMetricLabel"] {
    color: black !important;
}

[data-testid="stMetricValue"] {
    color: black !important;
}

.stMarkdown {
    color: black !important;
}

.stCaption {
    color: black !important;
}

/* Navigation items in sidebar */

[data-testid="stSidebarNav"] * {
    color: white !important;
}

[data-testid="stSidebarNav"] a[aria-current="page"] {
    background-color: rgba(139, 195, 74, 0.25) !important;
    border-radius: 10px;
}


[data-testid="stSidebar"] {
    background: linear-gradient(
        180deg,
        #243A73 0%,
        #1E2A4A 100%
    );
}

[data-testid="stAlert"] {
    border-radius: 12px !important;
    border-left: 5px solid #2E73B8 !important;
}
