@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body, [class*="css"] {
    font-family: 'Poppins', sans-serif;
}

.stApp {
    background-color: #F8F9FA;
}

[data-testid="stMetric"] {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
    border-left: 5px solid #8BC34A;
}

h1 {
    color: #0F3D2E;
}

h2, h3 {
    color: #0F3D2E;
}

/* Force all text to black */

html, body, p, span, div, label {
    color: black !important;
}

h1, h2, h3, h4, h5, h6 {
    color: black !important;
}

[data-testid="stMetricLabel"] {
    color: black !important;
}

[data-testid="stMetricValue"] {
    color: black !important;
}

.stMarkdown {
    color: black !important;
}

.stCaption {
    color: black !important;
}
